<head>
    <title>Change password Page</title>
</head>
<link rel="stylesheet" href="static/styles.css">
<body class="center bg2 max">

    <div id="login-form-wrap">
        <h2><img src="static/palm_tree_black.jpg" width="300" height="300"></h2>
        <form action="/change_password" method="POST" id="login-form">
        <p>Change your password.</p>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p>
                <input type="password" id="password" name="password" placeholder="new password" required>
                <i class="validation">
                    <span></span>
                    <span></span>
                </i>
            </p>
            <p>
                <input type="password" id="newpassword" name="newpassword" placeholder="enter new password again" required>
                <i class="validation">
                    <span></span>
                    <span></span>
                </i>
            </p>
            <p>
                <input type="submit" id="Change password" value="Change password">
            </p>

        </form>
    </div>
</body>
