<head>
    <title>Home Page</title>
</head>
<link rel="stylesheet" href="static/styles.css">
<body class="center bg2 max">
    <div id="login-form-wrap">
        <h2><img src="static/palm_tree_black.jpg" width="300" height="300"></h2>
    <p>Welcome</p>
        <p>Want to apply for an Admin role?</p>
        <p>Here are the credentials:</p>
        <p>username: admin@sheridancollege.ca</p>
        <p>password: sheridaniscool1234</p>
        <p>This was our credentials. We got attacked. Not sure if it still exists. Maybe the login or register has something for you</p>

        <p>
               <a href="/login">
   <input type="submit" value="Login" />
</a>
        </p>
    </div>
</body>
