<head>
    <title>Reset password Page</title>
</head>
<link rel="stylesheet" href="static/styles.css">
<body class="center bg2 max">
    <div id="login-form-wrap">
        <h2><img src="static/palm_tree_black.jpg" width="300" height="300"></h2>
        <form action="/resetpassword" method="POST" id="login-form">
        <h2>Reset your password</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                <i class="validation">
                    <span></span>
                    <span></span>
                </i>
            </p>
            <p>
                <input type="submit" id="resetpassword" value="Reset password">
            </p>


        </form>
    </div>
</body>
